slnSeguridad/rwebSeguridad/Service References/srSisdav/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wcfsisdav.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wcfsisdav.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="clsRolUsuarioBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaBaja" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdEstadoRolUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="IdRol" type="xs:int" />
      <xs:element minOccurs="0" name="IdRolUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoRolUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuarioCreacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsRolUsuarioBE" nillable="true" type="tns:clsRolUsuarioBE" />
  <xs:complexType name="clsPersonaBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApEsposo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CasillaPostal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Celular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorreoElectronico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocIdentidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdDepartamento" type="xs:int" />
      <xs:element minOccurs="0" name="IdEstadoCivil" type="xs:int" />
      <xs:element minOccurs="0" name="IdIdenticacion" type="xs:int" />
      <xs:element minOccurs="0" name="IdItemInstitucion" type="xs:int" />
      <xs:element minOccurs="0" name="IdPaisNacionalidad" type="xs:int" />
      <xs:element minOccurs="0" name="IdPersona" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoPersona" type="xs:int" />
      <xs:element minOccurs="0" name="LibretaDeServicioMilitar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LugarExpedicion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Materno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperadorMovil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Paterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoTelefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsPersonaBE" nillable="true" type="tns:clsPersonaBE" />
  <xs:complexType name="clsInstitucionBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdInstitucion" type="xs:int" />
      <xs:element minOccurs="0" name="IdInstitucionPadre" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoInstitucion" type="xs:int" />
      <xs:element minOccurs="0" name="NombreInstitucion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsInstitucionBE" nillable="true" type="tns:clsInstitucionBE" />
  <xs:complexType name="clsItemInstitucionBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdEntidad" type="xs:int" />
      <xs:element minOccurs="0" name="IdItemInstitucion" type="xs:int" />
      <xs:element minOccurs="0" name="IdPuesto" type="xs:int" />
      <xs:element minOccurs="0" name="IdUnidad" type="xs:int" />
      <xs:element minOccurs="0" name="NroItem" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsItemInstitucionBE" nillable="true" type="tns:clsItemInstitucionBE" />
  <xs:complexType name="clsUnidadBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoUnidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdEntidad" type="xs:int" />
      <xs:element minOccurs="0" name="IdPadreUnidad" type="xs:int" />
      <xs:element minOccurs="0" name="IdUnidad" type="xs:int" />
      <xs:element minOccurs="0" name="NombreUnidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Orden" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsUnidadBE" nillable="true" type="tns:clsUnidadBE" />
  <xs:complexType name="clsUsuarioBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estilo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdEstadoUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="IdPersona" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="NombreUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pin" type="xs:int" />
      <xs:element minOccurs="0" name="Salt" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsUsuarioBE" nillable="true" type="tns:clsUsuarioBE" />
  <xs:complexType name="clsUsuarioLogueadoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="DireccionDest" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DireccionHost" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DireccionIP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdEstadoLlave" type="xs:int" />
      <xs:element minOccurs="0" name="IdRolUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuarioLogueado" type="xs:int" />
      <xs:element minOccurs="0" name="Llave" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsUsuarioLogueadoBE" nillable="true" type="tns:clsUsuarioLogueadoBE" />
  <xs:complexType name="clsRolBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdRol" type="xs:int" />
      <xs:element minOccurs="0" name="IdSistema" type="xs:int" />
      <xs:element minOccurs="0" name="NombreRol" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsRolBE" nillable="true" type="tns:clsRolBE" />
</xs:schema>