Generador WCF Sistema/GeneradorCodigoControladoras/Connected Services/srRegistro/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfRegistro.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfRegistro.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="clsBoletaBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaEscaneo" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdBoleta" type="xs:int" />
      <xs:element minOccurs="0" name="TextoBoleta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioEscaneo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsBoletaBE" nillable="true" type="tns:clsBoletaBE" />
</xs:schema>