slnSeguridad/rwebSeguridad/Service References/srSeguridad/Service166.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfSeguridad.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfSeguridad.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="clsUsuarioBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estilo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdEstadoUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="IdPersona" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="NombreUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pin" type="xs:int" />
      <xs:element minOccurs="0" name="Salt" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsUsuarioBE" nillable="true" type="tns:clsUsuarioBE" />
  <xs:complexType name="clsUsuarioLogueadoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="DireccionDest" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DireccionHost" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DireccionIP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdEstadoLlave" type="xs:int" />
      <xs:element minOccurs="0" name="IdRolUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuarioLogueado" type="xs:int" />
      <xs:element minOccurs="0" name="Llave" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsUsuarioLogueadoBE" nillable="true" type="tns:clsUsuarioLogueadoBE" />
  <xs:complexType name="clsRolUsuarioBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaBaja" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdEstadoRolUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="IdRol" type="xs:int" />
      <xs:element minOccurs="0" name="IdRolUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoRolUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuarioCreacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsRolUsuarioBE" nillable="true" type="tns:clsRolUsuarioBE" />
  <xs:complexType name="clsRolBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdRol" type="xs:int" />
      <xs:element minOccurs="0" name="IdSistema" type="xs:int" />
      <xs:element minOccurs="0" name="NombreRol" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsRolBE" nillable="true" type="tns:clsRolBE" />
  <xs:complexType name="clsTipoRolUsuarioBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Detalle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdTipoRolUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="NombreTipoRolUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsTipoRolUsuarioBE" nillable="true" type="tns:clsTipoRolUsuarioBE" />
  <xs:complexType name="clsTipoUsuarioBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Detalle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdTipoUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="NombreTipoUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsTipoUsuarioBE" nillable="true" type="tns:clsTipoUsuarioBE" />
  <xs:complexType name="clsEstadoUsuarioBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Detalle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdEstadoUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="NombreEstadoUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsEstadoUsuarioBE" nillable="true" type="tns:clsEstadoUsuarioBE" />
  <xs:complexType name="clsEstadoRolUsuarioBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Detalle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdEstadoRolUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="NombreEstadoRolUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsEstadoRolUsuarioBE" nillable="true" type="tns:clsEstadoRolUsuarioBE" />
  <xs:complexType name="clsPermisoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdMenu" type="xs:int" />
      <xs:element minOccurs="0" name="IdPermiso" type="xs:int" />
      <xs:element minOccurs="0" name="IdRol" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoPermiso" type="xs:int" />
      <xs:element minOccurs="0" name="NombrePermiso" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsPermisoBE" nillable="true" type="tns:clsPermisoBE" />
  <xs:complexType name="clsTipoPermisoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="DetalleTipoPermiso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdTipoPermiso" type="xs:int" />
      <xs:element minOccurs="0" name="NombreTipoPermiso" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsTipoPermisoBE" nillable="true" type="tns:clsTipoPermisoBE" />
  <xs:complexType name="clsEstadoLlaveBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Detalle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdEstadoLlave" type="xs:int" />
      <xs:element minOccurs="0" name="NombreEstadoLlave" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsEstadoLlaveBE" nillable="true" type="tns:clsEstadoLlaveBE" />
  <xs:complexType name="clsSistemaBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Detalle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HostNameServer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdSistema" type="xs:int" />
      <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="IpServer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreSistema" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsSistemaBE" nillable="true" type="tns:clsSistemaBE" />
  <xs:complexType name="clsReporteBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdReporte" type="xs:int" />
      <xs:element minOccurs="0" name="IdReportePadre" type="xs:int" />
      <xs:element minOccurs="0" name="IdSistema" type="xs:int" />
      <xs:element minOccurs="0" name="NombreFormulario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreReporte" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroDeOrden" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsReporteBE" nillable="true" type="tns:clsReporteBE" />
  <xs:complexType name="clsEquipoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hostname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdEquipo" type="xs:int" />
      <xs:element minOccurs="0" name="IpEquipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsEquipoBE" nillable="true" type="tns:clsEquipoBE" />
  <xs:complexType name="clsEquipoDetalleBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaConsulta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdEquipo" type="xs:int" />
      <xs:element minOccurs="0" name="IdEquipoDetalle" type="xs:int" />
      <xs:element minOccurs="0" name="Respuesta" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsEquipoDetalleBE" nillable="true" type="tns:clsEquipoDetalleBE" />
  <xs:complexType name="clsMenuBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdMenu" type="xs:int" />
      <xs:element minOccurs="0" name="IdMenuPadre" type="xs:int" />
      <xs:element minOccurs="0" name="IdSistema" type="xs:int" />
      <xs:element minOccurs="0" name="NombreFormulario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreMenu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroDeOrden" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsMenuBE" nillable="true" type="tns:clsMenuBE" />
</xs:schema>