slnSeguridad/Backup/rwebSeguridad/Service References/srBio/Service154.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/clsPersonal.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/clsPersonal.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="clsPersonaBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApEsposo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Celular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CorreoElectronico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocIdentidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdIdentificador" type="xs:int" />
      <xs:element minOccurs="0" name="IdPersona" type="xs:int" />
      <xs:element minOccurs="0" name="LugarExpedicion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Materno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Paterno" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsPersonaBE" nillable="true" type="tns:clsPersonaBE" />
</xs:schema>