slnSeguridad/winReloj/Service References/srProcesoElectoral/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfProcesoElectoral.Datos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfProcesoElectoral.Datos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.71.103.50/WcfProcesoElectoral/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WcfProcesoElectoral.Entidades" />
  <xs:complexType name="clsObservacionDA">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/WcfProcesoElectoral.Entidades" base="q1:clsObservacionBE">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="clsObservacionDA" nillable="true" type="tns:clsObservacionDA" />
  <xs:complexType name="clsObservacionMesaDA">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/WcfProcesoElectoral.Entidades" base="q2:clsObservacionMesaBE">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="clsObservacionMesaDA" nillable="true" type="tns:clsObservacionMesaDA" />
  <xs:complexType name="clsRecintoDA">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/WcfProcesoElectoral.Entidades" base="q3:clsRecintoBE">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="clsRecintoDA" nillable="true" type="tns:clsRecintoDA" />
  <xs:complexType name="clsLibroUnidadDA">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/WcfProcesoElectoral.Entidades" base="q4:clsLibroUnidadBE">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="clsLibroUnidadDA" nillable="true" type="tns:clsLibroUnidadDA" />
  <xs:complexType name="clsasientoDA">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/WcfProcesoElectoral.Entidades" base="q5:clsasientoBE">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="clsasientoDA" nillable="true" type="tns:clsasientoDA" />
  <xs:complexType name="clsLibroUnidadRegistroDA">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/WcfProcesoElectoral.Entidades" base="q6:clsLibroUnidadRegistroBE">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="clsLibroUnidadRegistroDA" nillable="true" type="tns:clsLibroUnidadRegistroDA" />
  <xs:complexType name="clsProcesoEDA">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/WcfProcesoElectoral.Entidades" base="q7:clsProcesoEBE">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="clsProcesoEDA" nillable="true" type="tns:clsProcesoEDA" />
  <xs:complexType name="clsNotarioMesaDA">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/WcfProcesoElectoral.Entidades" base="q8:clsNotarioMesaBE">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="clsNotarioMesaDA" nillable="true" type="tns:clsNotarioMesaDA" />
  <xs:complexType name="clsRecintoNotarioDA">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/WcfProcesoElectoral.Entidades" base="q9:clsRecintoNotarioBE">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="clsRecintoNotarioDA" nillable="true" type="tns:clsRecintoNotarioDA" />
  <xs:complexType name="clsRecintoEsquelaDA">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/WcfProcesoElectoral.Entidades" base="q10:clsRecintoEsquelaBE">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="clsRecintoEsquelaDA" nillable="true" type="tns:clsRecintoEsquelaDA" />
  <xs:complexType name="clsEstadoRecintoNotarioDA">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.datacontract.org/2004/07/WcfProcesoElectoral.Entidades" base="q11:clsEstadoRecintoNotarioBE">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="clsEstadoRecintoNotarioDA" nillable="true" type="tns:clsEstadoRecintoNotarioDA" />
  <xs:complexType name="clsRutaPersonaDA">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/WcfProcesoElectoral.Entidades" base="q12:clsRutaPersonaBE">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="clsRutaPersonaDA" nillable="true" type="tns:clsRutaPersonaDA" />
  <xs:complexType name="clsRecintoCorrespondeDA">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://schemas.datacontract.org/2004/07/WcfProcesoElectoral.Entidades" base="q13:clsRecintoCorrespondeBE">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="clsRecintoCorrespondeDA" nillable="true" type="tns:clsRecintoCorrespondeDA" />
  <xs:complexType name="clsIntegranteDA">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q14="http://schemas.datacontract.org/2004/07/WcfProcesoElectoral.Entidades" base="q14:clsIntegranteBE">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="clsIntegranteDA" nillable="true" type="tns:clsIntegranteDA" />
  <xs:complexType name="clsRutaDA">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q15="http://schemas.datacontract.org/2004/07/WcfProcesoElectoral.Entidades" base="q15:clsRutaBE">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="clsRutaDA" nillable="true" type="tns:clsRutaDA" />
  <xs:complexType name="clsCertificadoLibroDA">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q16="http://schemas.datacontract.org/2004/07/WcfProcesoElectoral.Entidades" base="q16:clsCertificadoLibroBE">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="clsCertificadoLibroDA" nillable="true" type="tns:clsCertificadoLibroDA" />
  <xs:complexType name="clsCertificadoDA">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q17="http://schemas.datacontract.org/2004/07/WcfProcesoElectoral.Entidades" base="q17:clsCertificadoBE">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="clsCertificadoDA" nillable="true" type="tns:clsCertificadoDA" />
  <xs:complexType name="clsEstadoCertificadoDA">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q18="http://schemas.datacontract.org/2004/07/WcfProcesoElectoral.Entidades" base="q18:clsEstadoCertificadoBE">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="clsEstadoCertificadoDA" nillable="true" type="tns:clsEstadoCertificadoDA" />
  <xs:complexType name="clsIntegranteArchivoDA">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q19="http://schemas.datacontract.org/2004/07/WcfProcesoElectoral.Entidades" base="q19:clsIntegranteArchivoBE">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="clsIntegranteArchivoDA" nillable="true" type="tns:clsIntegranteArchivoDA" />
  <xs:complexType name="clsMesaGeografiaDA">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q20="http://schemas.datacontract.org/2004/07/WcfProcesoElectoral.Entidades" base="q20:clsMesaGeografiaBE">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="clsMesaGeografiaDA" nillable="true" type="tns:clsMesaGeografiaDA" />
</xs:schema>